body {
  background-color:white;

}
h1{
  background-color:gold;
  text-align: center;
  color:#66ff66;
}
a{font-size:23px;
  
}
button{
  color: white;
  background-color:#66ff66;
}
p{
  font-size: 18px;
  color: red
}